/* Reset
-------------------------------------------------------------- */
*:focus{outline:none;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}button,input,legend,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}table{border-collapse:collapse;border-spacing:0; }sup,sub{vertical-align:baseline; }html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,textarea,caption,table,tbody,tfoot,thead,tr,th,td{font-family:inherit;font-size:inherit;}

/* Global
-------------------------------------------------------------- */
html { 
	background: #F6F6F6;
	}

body { font: 12px/1.4em "helvetica", sans-serif; }

a { 
	color: #00AECF; 
	text-decoration: none; 
	/*
	-webkit-transition: color 0.5s linear;  
	-moz-transition: color 0.5s linear;  
	*/
	}

blockquote {
	position: relative;
	}

blockquote p { margin-bottom: 15px; }

blockquote p:before {
	font-size: 84px;
	content: "“";
	color: #EEE;
	color: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: -35px;
	top: 10px;
	z-index: 1;
	}

blockquote p:after {
	font-size: 84px;
	/* content: "”"; */
	color: #eee; /* fallback */
	color: rgba(0,0,0,0.1);
	margin: 30px 0 0 0;
	float: right;
	z-index: 1;
	}

input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

fieldset {
	border: 0;
	float: left;
	margin-right: 10px;
}

input,
textarea,
select {
  display: inline-block;
  width: 210px;  
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*
a:hover {
	color: #004653;
	-webkit-transition: color 0.5s linear;  
	-moz-transition: color 0.5s linear;  
}
*/

/* Single
-------------------------------------------------------------- */
.single-zm-quote-tracker .post-title {
	display: inline;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
	margin-bottom: 5px;
	}

.single-zm-quote-tracker .post-content {	
	font-size: 26px;
	font-style: italic;
	font-family: times new roman;
	line-height: 1.3em;	
	}

.sidebar-zm-quote-tracker { 	
	float: left;	
	width: 250px;	
	}

.sidebar-zm-quote-tracker .zm-base-title { 
	float: left;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 5px;
	}

.sidebar-zm-quote-tracker ul { 
	list-style-type: none;
	margin-bottom: 20px; 
	}

.sidebar-zm-quote-tracker ul li:first-child { 
	margin-bottom: 0; 
}

.sidebar-zm-quote-tracker ul li { 
	margin-bottom: 10px; 
	}

.sidebar-zm-quote-tracker .zm-base-count {
	background: #ddd;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	margin-left: 5px;
	padding: 0 2px;
	}

.single-zm-quote-tracker {
	float: left;
	}

.sidebar-zm-quote-tracker .form-wrapper {
	padding: 0; 
	}

.sidebar-zm-quote-tracker fieldset { 
	float: left; 
	clear: both; 
	width: 100%; 
	}

.sidebar-zm-quote-tracker label { 
	float: left; 
	font-weight: normal; 	
	margin-bottom: 5px;
	margin-top: 2px;
	width: 100%; 	
	}

.sidebar-zm-quote-tracker input[type="checkbox"] { 
	float: left; 
	margin-right: 5px;
	width: auto; 
	}
/* ----------------------------------------------------------- */


/*= Container
-------------------------------------------------------------- */
.container-zm-quote-tracker { 
	float: left;
	width: 990px;
	padding: 20px;
}
/* ----------------------------------------------------------- */


/*= Main
-------------------------------------------------------------- */
.main-zm-quote-tracker {	
	float: left;
	width: 740px;
	}
.main-zm-quote-tracker .hentry .tag-container {
	line-height: 1em;
	margin-top: 10px;
	}
/* ----------------------------------------------------------- */


/*= Misc.
-------------------------------------------------------------- */
.topbar,
header { display: none; }

.next-container:before {
	content: "Next";
	font-weight: bold;
	margin-right: 5px;	
	}

.previous-container:before {
	content: "Previous";
	font-weight: bold;
	margin-right: 5px;
	}

.utility-zm-quote-tracker strong {
	text-transform: capitalize;
	}

.m-dash { display: block; margin: 10px 0; }

.uneditable-input {
	display: inline-block;
	width: 210px;  
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: #808080;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

.xxlarge { 
	width: 90%; 
	}

.zm-base-title,
label {
	font-weight: bold;
	display: block;
	text-transform: capitalize;
	}

.form-wrapper {
	padding: 10px;
	}

.row {
	clear: both;
	float: left;
	width: 90%;
	margin-bottom: 10px;
	}
/* ----------------------------------------------------------- */


/*= Dialog
-------------------------------------------------------------- */
.ui-dialog { background: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 0 30px #666; float: left; }
.ui-dialog .form-container { background: none; padding: 0; }

.ui-dialog-buttonpane,
.ui-dialog .button-container { border-top: 1px solid #E3E3E3; float: left; margin: 20px 0 0 0; padding: 10px 0 10px 10px; width: 100%; }

.ui-dialog-title { color: #333; float: left; font: bold 16px/1 sans-serif; margin: 0; padding: 10px; }
.ui-dialog-title em { color: #888; }
.ui-widget-overlay { 
    background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
    }
    
.ui-draggable .ui-dialog-titlebar { background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent; border-bottom: 1px solid #E3E3E3; }
/* ----------------------------------------------------------- */


/* Taxonomy
-------------------------------------------------------------- */
.taxonomy-zm-quote-tracker .post-title { 
	margin-bottom: 5px; 
	}

.taxonomy-zm-quote-tracker .hentry {
	background: #fff;
	float: left;
	height: 100px;
	margin: 0 1px 1px;
	padding: 10px;
	width: 100px;
	-webkit-transition: color 0.5s linear;  
	-moz-transition: color 0.5s linear;  
	}		

.taxonomy-zm-quote-tracker .hentry:hover { 
	background-color: #FFC;
	-webkit-transition: color 0.5s linear;  
	-moz-transition: color 0.5s linear;  	
	}

.taxonomy-zm-quote-tracker .hentry:first-child {
	height: 220px;
	width: 222px;
	}

.taxonomy-zm-quote-tracker .utility-zm-quote-tracker { 
	font-size: 11px; color: #ccc; 
	}

.taxonomy-zm-quote-tracker .utility-zm-quote-tracker a { 
	color: #ccc; 
	font-family: lucida grande;
	font-size: 10px;
	text-transform: capitalize;
	letter-spacing: 0.1em;
	}
/* ---------------------------------------------------------- */